
/* ------------- [ Fonts ] ----------------- */

@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

/* ------------- [colors] ------------ */
:root {
    --cyan: hsl(176, 50%, 47%);
    --Darkcyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Darkgray: hsl(0, 0%, 48%);
    --Offwhite: rgb(250 250 250);
    --Commissioner: 'Commissioner', sans-serif;
    --Width:  0%;
}

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--Commissioner);
    font-size: 16px;
    color: var(--Darkgray);
    background-color: var(--Offwhite);
}

header{
    margin-bottom: 150px;
}
/* ------------- [headers] ------------ */

h1, h2, h3{
    color: var(--Black);
}

/* ------------- [buttons] ------------ */
.btn{
    padding: 12px 35px;
    border: none;
    border-radius: 35px;
    color: white;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}

.bg-green{
    background-color: var(--cyan);
}

.bg-gray{
    background-color: var(--Darkgray);
}

.bg-green:hover, .bg-green:active{
    background-color: var(--Darkcyan);
}

.btn-bookmark{
    color: var(--Darkgray);
}

.active-bookmark{
    color: #292626;
    filter: brightness(2.45) sepia(0.3) hue-rotate(126deg) saturate(4);
}

/* ------------- [section] ------------ */

section{
    margin: auto;
    background-color: white;
    min-width: 636px;
    width: 65%;
    max-width: 740px;
    box-shadow: 0px 0px 1px hsl(0deg 0% 48% / 26%);
    border-radius: 5px;
    padding: 35px;
    margin-bottom: 15px;
}

/* ------------- [section project intro] ------------ */

.project-intro{
    position: relative;
}

.visual-absolute{
    position: absolute;
    top: -30px;;
    left: 45%;
}

.project-intro h1, .project-intro p{
    text-align: center;
    margin: 15px;
}

.flex-intro{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 15px;
}

.bookmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.bookmark-text{
    padding-left: 25px;
}

/* ------------- [Progress] ------------ */

.backers-progress{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.border{
    border-left: 2px solid hsl(0deg 0% 48% / 50%);
    border-right: 2px solid hsl(0deg 0% 48% / 50%);
    margin-left: 35px;
    margin-right: 35px;
    padding-right: 35px;
    padding-left: 35px;
}

.digit{
    font-weight:700;
    color: var(--Black);
    font-size: 170%;
    padding-bottom: 8px;
}

.progress-bar{
    margin-top: 25px;
    background-color: lightgray;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    
}

.progress{
    /*width: 89.9%;*/
    width: var(--Width);
    height: 10px;
    background-color: hsl(176, 50%, 47%);
    border-radius: 5px;
}
/* ------------- [ Project ] ------------ */

.about-this-project p, .about-this-project h2{
    padding-bottom: 35px;
}

.pledge-green{
    color: var(--cyan);
    font-weight: 500;
    font-size: 80%;
}

.about-this-project p{
    width: 100%;
}

.pledge-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 0px 1px hsl(0deg 0% 48%);
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.pledge-container p{
    padding-top: 35px;
}

.stock-text{
    vertical-align: text-top;
    font-size: 80%;
}

/* --------------- [ Modal ] -------------- */

#modal {
    display: grid;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.25s ease-in-out;
    border: 1px solid var(--Black);
    border-radius: 5px;
    background-color: var(--Offwhite);
    z-index: 2;
    width: 80%;
    max-width: 740px;
    height: auto;
    overflow: hidden;
    grid: repeat(2, auto) 20px / 5% 90% 5%;
    grid-template-areas: 
    ". header ."
    ". body   ."
    ". ....   ."
    ;
}

#modal.active {
    animation: openModal 0.25s forwards ease-in-out;
}

@keyframes openModal {
    0% {transform: translate(-50%, -50%) scale(0);}
    100% {transform: translate(-50%, -50%) scale(1);}
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Black);
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-in-out;
}

#overlay.active {
    pointer-events: all;
    animation: overlay 0.25s forwards ease-in-out;
}

@keyframes overlay {
    0% {opacity: 0;}
    100% {opacity: 0.5;}
}

.modal-header {
    grid-area: header;
    padding-top: 20px;
    display: grid;
    grid: 20% 40% 40% / 99% 1%;
    grid-template-areas: 
    "..... close"
    "title ....."
    "parag ....."
    ;
}

.modal-header h2 {
    grid-area: title;
    padding-bottom: 40px;
}

.modal-header p {
    grid-area: parag;
}

#close-btn {
    grid-area: close;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 24px;
    font-weight: bold;
    color: var(--Darkgray);
}

#close-btn:hover {
    color: var(--cyan);
}

.modal-body {
    grid-area: body;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
}

.pledge-card {
    border: 1px solid var(--Darkgray);
    border-radius: 5px;
    display: grid;
    row-gap: 10px;
    grid: repeat(2, 60px) 100px / 5% 80% 10% 5%;
    height: 140px;
    overflow: hidden;
    grid-template-areas: 
    ".   title quantity ."
    ".   info  info     ."
    "bid bid   bid    bid"
    ;
}

.pledge-card.open {
    animation: open 0.25s forwards ease-in-out;
}

@keyframes open {
    0% {height: 120px;}
    0% {border: 1px solid var(--Black);}
    100% {height: 220px;}
    100% {border: 2px solid var(--cyan);}
}

.pledge-card .title {
    cursor: pointer;
    grid-area: title;
    display: grid;
    align-self: center;
    margin-top: 10px;
}

.pledge-card .quantity {
    cursor: pointer;
    grid-area: quantity;
    display: flex;
    align-self: center;
    margin-top: 10px;
}

.pledge-card .title span {
    color: var(--cyan);
    padding-left: 20px;
}

.pledge-card .quantity span {
    padding-left: 5px;
}

.pledge-card .info {
    cursor: pointer;
    grid-area: info;
}

.pledge-card .bid {
    grid-area: bid;
    border-top: 1px solid var(--Darkgray);
    display: grid;
    grid: 100px / 5% 50% 20% 20% 5%;
    grid-template-areas: 
    ". label input button ."
    ;
}

.pledge-card .bid label {
    grid-area: label;
    margin-top: 25px;
}

.pledge-card .bid input {
    grid-area: input;
    border: none;
    height: 50%;
    width: 75%;
    margin-top: 12.5px;
    border: 1px solid var(--Darkgray);
    border-radius: 35px;
    text-align: center;
}

.pledge-card .bid .continue {
    cursor: pointer;
    grid-area: button;
    border: none;
    height: 50%;
    margin-top: 12.5px;
    border-radius: 35px;
    background-color: var(--cyan);
}

.pledge-card .bid .continue:hover {
    background-color: var(--Darkcyan);
}

.pledge-card .bid input::placeholder {
    text-align: center;
}

.unavailable {
    opacity: 0.5;
    pointer-events: none;
}

/* ------------- [ MEDIA QUERIES - MOBILE ] ------------ */

@media only screen and (max-width: 576px) {
    section{
        min-width: 90%;
        width: 90%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .flex-intro{
        justify-content: space-around;
    }
    
    .btn-bookmark{
        padding: 10px;
    }

    .bookmark-text{
        display: none;
    }

    .backers-progress{
        justify-content: center;
    }

    .progress-item{
        width: 100%;
        text-align: center;
    }

    .border{
        width: fit-content;
        border: none;
        padding: 0;
        margin: 0;
        border-top: 2px solid hsl(0deg 0% 48% / 50%);
        border-bottom: 2px solid hsl(0deg 0% 48% / 50%);
        margin-top: 35px;
        margin-bottom: 35px;
        padding-top: 35px;
        padding-bottom: 35px;
        
    }

    .pledge-container{
        display: block;
        
    }

    .pledge-green{
        padding-top: 15px;
        font-size: 100%;
    }

    .pledge-container p{
        padding-top: 25px;
    }

    .stock-info{
        padding-bottom: 25px;
    }
}
