
/* ------------- [ Fonts ] ----------------- */

/*@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap')*/



/* ------------- [colors] ------------ */
:root {
--cyan: hsl(176, 50%, 47%);
--Darkcyan: hsl(176, 72%, 28%);
--Black: hsl(0, 0%, 0%);
--Darkgray: hsl(0, 0%, 48%);
--Offwhite: rgb(250 250 250);
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


body{
font-family: "Commissioner";
font-size: 16px;
color: var(--Darkgray);
background-color: var(--Offwhite);
}

/* ------------- [headers] ------------ */

h1, h2, h3{
color: var(--Black);
}

/* ------------- [buttons] ------------ */
.btn{
padding: 15px 35px;
border: none;
border-radius: 35px;
color: white;
font-weight: 700;
position: relative;
}
.bg-green{
background-color: var(--cyan);
}
.btn:hover{
background-color: var(--Darkcyan);
}

/* ------------- [section] ------------ */

section{
margin: auto;
background-color: white;
width: 70%;
max-width: 740px;
box-shadow: 0px 0px 1px hsl(0deg 0% 48% / 26%);
border-radius: 5px;
padding: 25px;
margin-bottom: 15px;
}

/* ------------- [section project intro] ------------ */

.project-intro h1, .project-intro p{
text-align: center;
margin: 15px;
}
.flex-intro{
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
padding: 15px 0px;
}

.bookmark{
position: absolute;
top: 0;
left: 0;
height: 100%;
}
.bookmark-text{
padding-left: 25px;
color: var(--Darkgray)
}

/* ------------- [Progress] ------------ */

.backers-progress{
display: flex;
flex-direction: row;
}
.progress-item{
width: 32%;
}
.progress-bar{
width: 100%;
}